
/*font-family: 'Amatic SC', cursive;
font-family: 'Dawning of a New Day', cursive;
*/

h1 {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 80px;
	color: #F5B90C;

}

.clearfix {
	color: #F5B90C;
	font-size: 40px;
}

body {
	background-image: url(../images/background-2.jpeg);
	background-size: cover;
/*	background-repeat: no-repeat;*/
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	color: white;
}

.small {
		color: silver;
}

#img {
	height: 400px;
	width: auto;
	border: 2px solid silver;
	margin: 8px;
}